<div class="container">
    <h2 class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">Categoria Proceso</h2>
  
    <div class="row">
            <div class="table-responsive">
                <table id="productTable" class="table table-striped table-hover">
                    <thead>
                        <th scope="col" class="">CATEGORIA PROCESO</th>
                        <th scope="col" class="">DESCRIPCION</th>
                        <th scope="col" class="">ESTADO CATEGORIA</th>
                        <th scope="col" class="">EDICIÓN</th>
                        <th scope="col" class="">ELIMINACIÓN</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let modelo of datos">
                            <td>{{modelo.categoria_proc}}</td>
                            <td>{{modelo.descripcion}}</td>
                            <td>{{modelo.estado_cat_pro}}</td>
                            <td><a  [routerLink]="['/u-categoria-proceso', modelo.categoria_proc]" class="btn btn-info btn-block">Editar</a></td>
                            <td><a (click)="borrar(modelo.categoria_proc)" class="btn btn-info btn-block">Eliminar</a></td>

                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    <div class="row"> 
        <a  routerLink="/c-categoria-proceso" class="btn btn-info btn-block">AGREGAR NUEVO</a>
    </div>
  </div>
